<h3>New Reservation</h3>
<%= form_for @bag do |f| %>
  <%= f.label "Customer Name", :class => 'control-label' %>
  <%= f.text_field :customer_name, :class => 'form-control'  %><br>

  <%= fields_for @locker do |f| %>
    <%= f.label "Locker Type", :class => 'control-label'  %>
    <%= f.select :size, locker_size,
             :prompt => 'Select One', :class => 'form-control' %><br>
  <% end %>

  <%= f.submit "Submit", disable_with: 'Submiting...', :class=> 'btn btn-md btn-primary' %>
<% end %>